<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="messages">

</section>

<form class="message-form">
    <input type="text" class="message-form__text" />
    <button class="message-form__send">Send!</button>
</form>

