<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>
