<pool>
    <groups>
        <group title="group1">
            <question title="test11">
                Some text1 here.
            </question>
            <question title="test12">
                Some text2 here.
            </question>
        </group>
        <group title="group2">
            <question title="test21">
                Some text1 here.
            </question>
            <question title="test22">
                Some text2 here.
            </question>
        </group>
        <group title="group3">
            <question title="test31">
                Some text1 here.
            </question>
            <question title="test32">
                Some text2 here.
            </question>
        </group>
        <group title="group4">
            <question title="test41">
                Some text1 here.
            </question>
            <question title="test42">
                Some text2 here.
            </question>
        </group>
        <group title="group5">
            <question title="test51">
                Some text1 here.
            </question>
            <question title="test52">
                Some text2 here.
            </question>
        </group>
    </groups>
    <meta
            formal_questions_count="2"
            questions_per_group="1"
            tickets_count="30"
    />
</pool>
